## Python Clientからのスコアリングの実施
- Experimentの操作（実行済みExperimentの確認）
- 予測の実施（スコアリングデータのアップロードと、結果のダウンロード）

In [120]:
import os
import driverlessai
import pandas

In [2]:
# Driverless AIのuser nameとpasswordの読み込み
import json
with open('idpass.json') as f:
    idpass = json.load(f)

In [4]:
# Driverless AIサーバーへの接続
dai = driverlessai.Client(address='http://54.157.227.21:12345', username=idpass['id'], password=idpass['pass'])
dai

<class 'driverlessai._core.Client'> http://54.157.227.21:12345

In [10]:
# 接続先Driverless AIのDatasets
dai.datasets.list()

[<class 'Dataset'> 07c28a00-77f1-11eb-ae7b-0242ac110002 sample_uneqal_interval_scoring1.csv,
 <class 'Dataset'> fd62eeb2-77ee-11eb-ae7b-0242ac110002 sample_unequal_interval.csv,
 <class 'Dataset'> 6e0cd35e-7677-11eb-b908-0242ac110002 dataset_temp.csv,
 <class 'Dataset'> 6f800ef8-7664-11eb-b908-0242ac110002 wallmart_scoring.csv,
 <class 'Dataset'> 5eb74434-73d4-11eb-ab9b-0242ac110002 walmart_ts_6_fcst_grp_train.csv,
 <class 'Dataset'> 5eb6cfc2-73d4-11eb-ab9b-0242ac110002 walmart_ts_6_fcst_grp_test.csv,
 <class 'Dataset'> 0325cee0-678d-11eb-930d-0242ac110002 Covid_Chest.zip,
 <class 'Dataset'> ef6185b4-65c7-11eb-b5cf-0242ac110002 dh_mijyushin_test,
 <class 'Dataset'> ef615d46-65c7-11eb-b5cf-0242ac110002 dh_mijyushin_train,
 <class 'Dataset'> 7cbe6cc0-65c7-11eb-b5cf-0242ac110002 forML_mijyushin_mask_20210126_1529.csv,
 <class 'Dataset'> 46d33edc-603c-11eb-9a4f-0242ac110002 iris_train,
 <class 'Dataset'> d17c41ee-5ecc-11eb-b134-0242ac110002 sample_simple.csv,
 <class 'Dataset'> 110fae96-5c88-11eb-a8f5-0242ac110002 date_sample3.csv,
 <class 'Dataset'> 1f09a98e-5c42-11eb-bf60-0242ac110002 date_sample.csv,
 <class 'Dataset'> cae49b84-5bab-11eb-96ed-0242ac110002 TitanicData.csv]

In [13]:
# 接続先Driverless AIのProjects
dai.projects.list()

[<class 'Project'> 01410d54-65c8-11eb-b5cf-0242ac110002 cust-dh]

## Experimentの操作

**Experiments** Class:  http://docs.h2o.ai/driverless-ai/pyclient/docs/html/client.html#experiments

In [21]:
type(dai.experiments)

driverlessai._experiments.Experiments

In [39]:
# 接続先Driverless AIのExperiments
dai.experiments.list()

[<class 'Experiment'> 04ee51a2-77f5-11eb-ae7b-0242ac110002 1.kedefohi,
 <class 'Experiment'> 33984388-77ef-11eb-ae7b-0242ac110002 kedefohi,
 <class 'Experiment'> 8959fc3a-76f0-11eb-a90c-0242ac110002 1.gomavole,
 <class 'Experiment'> 6bc656d8-73e3-11eb-ab9b-0242ac110002 test2,
 <class 'Experiment'> 60030ea8-73d5-11eb-ab9b-0242ac110002 test1,
 <class 'Experiment'> 0559f2ec-678b-11eb-930d-0242ac110002 fufukuco,
 <class 'Experiment'> b64d1b36-66b1-11eb-ab16-0242ac110002 simple,
 <class 'Experiment'> 478c2032-65c8-11eb-b5cf-0242ac110002 default,
 <class 'Experiment'> 62c31e2a-635f-11eb-b18a-0242ac110002 default2,
 <class 'Experiment'> f81f9d54-6201-11eb-94d4-0242ac110002 simple,
 <class 'Experiment'> af53600a-604a-11eb-9a4f-0242ac110002 mojo_small,
 <class 'Experiment'> 5a9c6598-604a-11eb-9a4f-0242ac110002 default,
 <class 'Experiment'> 98616740-603e-11eb-9a4f-0242ac110002 iris-getting-started,
 <class 'Experiment'> 6c9e16e8-5c89-11eb-a8f5-0242ac110002 is_holiday_y2,
 <class 'Experiment'> 25d2480c-5c88-11eb-a8f5-0242ac110002 is_holiday_y3,
 <class 'Experiment'> 856319da-5c43-11eb-bf60-0242ac110002 towavusa]

In [58]:
# 特定のExperimentの取得
experiment = dai.experiments.get(key='0559f2ec-678b-11eb-930d-0242ac110002')
type(experiment)

driverlessai._experiments.Experiment

**Experiment** Class:  http://docs.h2o.ai/driverless-ai/pyclient/docs/html/objects.html#experiment

In [44]:
# Experimentのデータ
experiment.datasets

{'train_dataset': <class 'Dataset'> cae49b84-5bab-11eb-96ed-0242ac110002 TitanicData.csv,
 'validation_dataset': None,
 'test_dataset': None}

In [59]:
# Experiment NameとKey
print(experiment.name)
print(experiment.key)

fufukuco
0559f2ec-678b-11eb-930d-0242ac110002

In [60]:
# Experiment結果のサマリ
experiment.summary()

Status: Complete
Experiment: fufukuco (0559f2ec-678b-11eb-930d-0242ac110002)
  Version: 1.9.1, 2021-02-05 08:23
  Settings: 7/2/8, seed=431669286, GPUs disabled
  Train data: TitanicData.csv (1309, 15)
  Validation data: N/A
  Test data: N/A
  Target column: survived (binary, 38.197% target class)
System specs: Docker/Linux, 31 GB, 8 CPU cores, 0/0 GPU
  Max memory usage: 0.579 GB, 0 GB GPU
Recipe: AutoDL (25 iterations, 8 individuals)
  Validation scheme: stratified, 6 internal holdouts (3-fold CV)
  Feature engineering: 66 features scored (5 selected)
Timing: MOJO latency: 0.03163 millis (204.2kB)
  Data preparation: 5.12 secs
  Shift/Leakage detection: 1.95 secs
  Model and feature tuning: 89.50 secs (25 of 192 models trained)
  Feature evolution: 1.26 secs (0 of 288 model trained)
  Final pipeline training: 14.01 secs (6 models trained)
  Python / MOJO scorer building: 40.42 secs / 11.71 secs
Validation score: AUC = 0.5 (constant preds of 0.382)
Validation score: AUC = 0.9891366 +/- 0.002705324 (baseline)
Validation score: AUC = 0.9935078 +/- 0.004116994 (final pipeline)
Test score:       AUC = N/A

In [70]:
# ExperimentのVariable Importance
experiment.variable_importance()

In [62]:
# experiment.settingsでExperiment設定詳細を確認

print( experiment.settings['task'] )
print( experiment.settings['target_column'] )

classification
survived

### 予測

In [125]:
dai.datasets

**Datasets** Class:  http://docs.h2o.ai/driverless-ai/pyclient/docs/html/client.html#datasets

In [126]:
# スコアリングデータをクライアント環境からDriveless AIへアップロード
data_to_predict = dai.datasets.create(data='./data/TitanicData_sample.csv', 
                                                                    data_source='upload', 
                                                                    name='titanic_scoring', 
                                                                    force=True)
type(data_to_predict)

# Driverless AIのDatasets画面から、'titanic_scoring'の名前で確認できる

Complete 100.00% - [4/4] Computed stats for column home.dest

driverlessai._datasets.Dataset

**Dataset** Class:  http://docs.h2o.ai/driverless-ai/pyclient/docs/html/objects.html#dataset

In [127]:
# データ情報
print("データ名: ", data_to_predict.name)
print("カラム: ", data_to_predict.columns)
print("データシェープ: ", data_to_predict.shape)

データ名:  titanic_scoring
カラム:  ['Passenger_Id', 'pclass', 'survived', 'name_with_salutions', 'name_without_salutions', 'sex', 'age', 'sibsp', 'parch', 'ticket', 'fare', 'cabin', 'embarked', 'boat', 'home.dest']
データシェープ:  (10, 15)

In [128]:
data_to_predict.head(3)

In [129]:
# スコアリングの実施
dai_predictions = experiment.predict(dataset=data_to_predict, include_columns=data_to_predict.columns)
type(dai_predictions)

Complete

driverlessai._experiments.Prediction

**Prediction** Class:  http://docs.h2o.ai/driverless-ai/pyclient/docs/html/objects.html#driverlessai._experiments.Prediction

In [130]:
# スコアリング結果のDriverless AI上のパス
dai_predictions.file_paths

['h2oai/h2oai_experiment_0559f2ec-678b-11eb-930d-0242ac110002/0559f2ec-678b-11eb-930d-0242ac110002_preds_dd1b9d43.csv']

In [131]:
# クライアント実行ディレクトリ上にダウンロード
dai_predictions.download(dst_dir='')

Downloaded '0559f2ec-678b-11eb-930d-0242ac110002_preds_dd1b9d43.csv'

'0559f2ec-678b-11eb-930d-0242ac110002_preds_dd1b9d43.csv'

In [132]:
# クライアント実行ディレクトリ上に保存されたデータ
local_path = dai_predictions.file_paths[0].split('/')[-1]
local_path

'0559f2ec-678b-11eb-930d-0242ac110002_preds_dd1b9d43.csv'

In [134]:
# ダウンロードされたデータ
pd.read_csv(local_path).head()

,Passenger_Id,pclass,survived,name_with_salutions,name_without_salutions,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,home_dest,survived.0,survived.1
0,1,3,0,"Andersson, Mr. Anders Johan","Andersson, Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S,NaN,"Sweden Winnipeg, MN",0.975623,0.024377
1,2,3,1,"McGowan, Miss. Anna ""Annie""","McGowan, Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q,NaN,NaN,0.677209,0.322791
2,3,2,1,"Caldwell, Mr. Albert Francis","Caldwell, Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S,13.0,"Bangkok, Thailand / Roseville, IL",0.101499,0.898501
3,4,3,0,"Augustsson, Mr. Albert","Augustsson, Albert",male,23.0,0,0,347468,7.8542,NaN,S,NaN,"Krakoryd, Sweden Bloomington, IL",0.976323,0.023677
4,5,3,1,"Lindqvist, Mr. Eino William","Lindqvist, Eino William",male,20.0,1,0,STON/O 2. 3101285,7.9250,NaN,S,15.0,NaN,0.117502,0.882498

In [135]:
# クライアント上のファイルを削除
os.remove(local_path)